{% extends "template.html" %}

{% block content_page %}
    {% set page_title = page_title %}
    <div>
        <h1 style="
        text-align: center;
        color: white;
        margin: 5% 25% 8% 25%;
        border: 1px solid blue;
        border-radius: 15px;
        padding-top: 1%;
        padding-bottom: 1%;"
        >{{ title }}</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src='{{ link[0] }}'
                            frameborder="0" allowfullscreen style="border: 2px solid yellow"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ link[1] }}"
                            frameborder="0" allowfullscreen style="border: 2px solid yellow"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ link[2] }}"
                            frameborder="0" allowfullscreen style="border: 2px solid yellow"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}