{% extends "template.html" %}

{% block main_page %}
    {% for _ in range(2) %}
        <div class="row">
            {% for _ in range(4) %}
            <div class="col-md-3">
                <div class="card" style="width: 90%; margin: 8% 4% 8%; background-color: #202020">
                    <img src="static/images/Превью карточки.jpg" class="card-img-top"
                         alt="Попробуйте перезагрузить страницу">
                    <div class="card-body" style="color: white">
                        <h5 class="card-title">Основы работы в Adobe Photoshop</h5>
                        <p>Начало работы в фотошопе. Изучение панели инструментов. Базовые функции.</p>
                        <a href="/tutorials" class="btn btn-outline-warning">Изучить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}