{% extends "template.html" %}

{% block registration_form %}
    {% set user_authorisation = user_authorisation %}
    <form class="form">
        <h1 style="text-align: center">Регистрация</h1>
        <div class="form-group">
            <label for="NicknameInput">Никнейм</label>
            <input type="text" class="form-control" id="NicknameInput" style="font-size: 20px">
        </div>
        <div class="form-group">
            <label for="PasswordInput">Пароль</label>
            <input type="password" class="form-control" id="PasswordInput" style="font-size: 20px">
        </div>
        <div class="form-group">
            <label for="PasswordInputRepeat">Введите пароль ещё раз</label>
            <input type="password" class="form-control" id="PasswordInputRepeat" style="font-size: 20px">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success" style="font-size: 20px">Зарегистрироваться</button>
    </form>
{% endblock %}